<section>
  <div></div>
</section>

{% schema %}
{
  "name": "TOP Blog",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "blog",
      "id": "blog",
      "label": "blog"
    }
  ],
  "presets": [
    {
      "name": "TOP Blog"
    }
  ]
}
{% endschema %}
