<section>
  <div class="inner-md">
    <div class="">
      <h2 class="head-title">News</h2>
    </div>
    <ul class="news-item">
      <li>
        <a href="#">
          <div class="news-img"><img src="https://cdn.shopify.com/s/files/1/0645/5151/8428/files/3519e689c9196135038db8dc0044ea92_487c894f-9fb7-422b-96eb-c06038d1d310.png?v=1663850600" alt="news-img"></div>
          <div class="news-date">2022.9.22</div>
          <h3 class="news-text">aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</h3>
        </a>
      </li>
      <li>
        <a href="#">
          <div><img src="https://cdn.shopify.com/s/files/1/0645/5151/8428/files/3519e689c9196135038db8dc0044ea92_487c894f-9fb7-422b-96eb-c06038d1d310.png?v=1663850600" alt="news-img"></div>
          <div class="news-date">2022.9.22</div>
          <h3 class="news-text">aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</h3>
        </a>
      </li>
      <li>
        <a href="#">
          <div><img src="https://cdn.shopify.com/s/files/1/0645/5151/8428/files/3519e689c9196135038db8dc0044ea92_487c894f-9fb7-422b-96eb-c06038d1d310.png?v=1663850600" alt="news-img"></div>
          <div class="news-date">2022.9.22</div>
          <h3 class="news-text">aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</h3>
        </a>
      </li>
      <li>
        <a href="#">
          <div><img src="https://cdn.shopify.com/s/files/1/0645/5151/8428/files/3519e689c9196135038db8dc0044ea92_487c894f-9fb7-422b-96eb-c06038d1d310.png?v=1663850600" alt="news-img"></div>
          <div class="news-date">2022.9.22</div>
          <h3 class="news-text">aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</h3>
        </a>
      </li>
    </ul>  
  </div>
</section>

<style>
  img {
  width: 100%;
  border-radius: 5px;

  }

.inner-md{
  width: 90%;
  margin: 0 auto;
  max-width: 1100px;
}
.head-title {
  font-size: 3.4rem;
  font-family: Montserrat, YuGothic, "Yu Gothic", メイリオ, "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", sans-serif;
}
.news-item {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.news-item li {
  width: 22.727272%;
  margin-right: 3.0303%;
}
.news-item li a {
  text-decoration: none;
}
.news-date {
  font-size: 1.0rem;
  margin: 0 0 5px;
  font-weight: bold;
}
.news-text {
  font-size: 1.5rem;
  margin: 0;
}
@media(max-width:750px){
  .news-item{
  flex-wrap: wrap;
  justify-content: space-between;
  }
  .news-item li {
    width: 48.5%;
    margin: 0;
  }

}
</style>
{% schema %}
{
  "name": "TOP Blog",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "blog",
      "id": "blog",
      "label": "blog"
    }
  ],
  "presets": [
    {
      "name": "TOP Blog"
    }
  ]
}
{% endschema %}
